@import '../../styles/variables.styl'

.sidebar
  width: 230px
  min-width: 230px
  height: 100%
  position: relative
  background: colors['blue']

  &__label
    padding: 8px
    padding-bottom: 10px
    color: colors['greyblue']
    user-select: none
